<fieldset>
    <div class="row">
        <div class="col-sm-2">
            <% #if image.object.photo %>
                <% #image_tag image.object.photo.url(:thumb) %>
                <%# image.object.photo.file.filename %>
            <% #end %>
        </div>
        <div class="col-sm-5">
            <%= f.file_field :photo %>
        </div>
        <div class="col-sm-5">
            <%= f.label :title, "Titel", class:"control-label" %>
            <%= f.text_field :title%>
            
            <%= f.hidden_field :_destroy %>
            <%= link_to "remove", '#', class: "remove_fields glyphicon glyphicon-trash btn btn-primary" %>
        </div>
    </div>
</fieldset>