<p id="notice"><%= notice %></p>

<% # Formular fuer die Suche ---> %>
<%= form_tag offer_blackboards_path, :method => "get", id: "filter_form_blackboard" do %>
    <div class="col-sm-12">
      <div class="row">

        <div class ="col-sm-2" style="border-right: 1px solid black">
          <%= text_field_tag :search, params[:search], placeholder: "Suche", class: "search-bar", value: params[:search] %>
        </div>

        <div class="col-sm-3" style="border-right: 1px solid black">
          <%= label_tag(:condition, "Zustand:  ", class: "label-form") %>
          <%= select_tag(:condition, options_for_select(['Alles', 'Gebraucht','Neu'], params[:condition])) %>
        </div>

        <div class="col-sm-3">
          <%= label_tag(:category, "Kategorie:  ", class: "label-form") %>
          <%= select_tag(:category, options_from_collection_for_select(Category.all, 'id', 'name',params[:category]),include_blank: "Alles") %>
        </div>
        <div class="col-sm-2">
          <%= label_tag(:request, "Typ: ", class: "label-form") %>
          <%= select_tag(:request, options_for_select(['Angebote', 'Gesuche'],params[:category])) %>
        </div>
        <div class="col-sm-2">
          <%= submit_tag "Suche", :name => nil, :class => "btn searchbutton"%>
        </div>
      </div>
<% end %>
<hr>
    </div>


<table class="table table-hover">
  <thead>
    <tr class="active">
      <th>Foto</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Zustand</th>
      <th>Datum</th>
    </tr>
  </thead>

  <tbody>
    <% @offer_blackboards.each do |offer_blackboard| %>
      <tr data-link="<%= offer_blackboard_path(offer_blackboard) %>" class="info">
        <td>
            <% if offer_blackboard.images.any? %>
                <%= image_tag(offer_blackboard.images.first.photo.url(:thumb))%>
            <%end %>
        </td>
        <td>
            <%= link_to offer_blackboard.title, offer_blackboard %>
            <br>

              <%  if offer_blackboard.description.length > 25 %>
                <%=   offer_blackboard.description[0..25] << "..." %>
                <%else %>
                <%= offer_blackboard.description %>
              <% end %>
        </td>
        <td>
            <%= number_to_currency(offer_blackboard.totalPrice, locale: :de) %>
        </td>
        <td>
            <% if offer_blackboard.condition == false%>gebraucht
                <% else%>Neu
            <%end%>
        </td>
        <td>
            <%= l(offer_blackboard.created_at, :format => '%d %B %Y') %>

        </td>
      </tr>

    <% end %>
  </tbody>
</table>