<p id="notice"><%= notice %></p>

<h1>Listing Offer Blackboards</h1>
<table>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Beschreibung</th>
      <th>Preis</th>
      <th>Zustand</th>
      <th>Datum</th>
    </tr>
  </thead>

  <tbody>
    <% @offer_blackboards.each do |offer_blackboard| %>
      <tr data-link="<%= offer_blackboard_path(offer_blackboard) %>">
        <td>
          <%= image_tag("wohnung.jpg", class:"img-responsive img-rounded", size: "140") %>

        </td>
        <td><%= link_to offer_blackboard.title, offer_blackboard %>
        <br>
          <%= offer_blackboard.description %>
        </td>
        <td><%= number_to_currency(offer_blackboard.totalPrice, locale: :de) %></td>
        <td><% if offer_blackboard.condition == false
               %>   gebraucht
           <% else
           %>Neu
        <%end
        %></td>
        <td><%= offer_blackboard.created_at.strftime("%d %B %y")%></td>
      </tr>

    <% end %>
  </tbody>
</table>