<p id="notice"><%= notice %></p>

<h1>Listing Campus</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Name</th>
      <th>Description</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campus.each do |campu| %>
      <tr>
        <td><%= campu.street %></td>
        <td><%= campu.zipcode %></td>
        <td><%= campu.city %></td>
        <td><%= campu.name %></td>
        <td><%= campu.description %></td>
        <td><%= campu.longitude %></td>
        <td><%= campu.latitude %></td>
        <td><%= link_to 'Show', campu %></td>
        <td><%= link_to 'Edit', edit_campu_path(campu) %></td>
        <td><%= link_to 'Destroy', campu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campu', new_campu_path %>
