
<div class="col-sm-12 footer">
	<div class="row">
		<div class="col-xs-2">
			</div>
		<div class="col-sm-4 footer-list">
			<h4>Sitemap</h4>
			<li>
				<%= link_to("Wohnungsmarkt", apartments_path) %>
			</li>
			<li>
				<%= link_to("Schwarzes Brett", offer_blackboards_path) %>
			</li>
			<li>
				<%= link_to("Beitrag Wohnungsmarkt", "/static_pages/apartment_choice") %>
			</li>
			<li>
				<%= link_to("Beitrag Schwarzes Brett", "/static_pages/blackboard_choice") %>
			</li>
			<% if user_signed_in? %>


				<li>
					<%= link_to(current_user.email, edit_user_registration_path) %>
				</li>
			


			<% else %>
			<li>
				<%= link_to('Login', new_user_session_path) %>
			</li>
			<% end %>

		</div>
		<div class="col-xs-2">
			</div>
		<div class="col-sm-2 footer-list">
			<h4>Kontakt</h4>
			<li>
              <%= link_to("Contact us", "/static_pages/contact") %>
			</li>
			<li>
              <%= link_to("Impressum", "/static_pages/impressum") %>
			</li>
		</div>
		<div class="col-xs-2">
			</div>
	</div>
</div>
