<%= form_tag offer_blackboards_path, :method => "get", id: "search_form_blackboard" do %>
	<%= text_field_tag :search, params[:search], placeholder: "Suche", class: "search-bar" %> <hr />
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6" style="border-right: 1px solid black">
				<%= label_tag(:condition, "Zustand:  ", class: "label-form") %>
				<%= select_tag(:condition, options_for_select(['Alles', 'Gebraucht','Neu'])) %>
			</div>
	
			<div class="col-sm-6">
				<%= label_tag(:category, "Kategorie:  ", class: "label-form") %>
				<%= select_tag(:category, options_for_select(['Alles', 'Elektronik'])) %>
			</div>
		</div>
		<hr>
	</div>
	
	<%= submit_tag "Suchen", :name => nil, :class => "btn btn-outlined btn-theme btn-lg"%>
<% end %>
