<div class="search-box">
	<div style="padding: 2%;">

		<%= radio_button_tag 'options', 'wohnungsmarkt'%>
		<%= label_tag 'options_wohnungsmarkt', "Wohnungsmarkt"  %>
		
		<%= radio_button_tag 'options','sbrett'%>
		<%= label_tag 'options_sbrett', "Schwarzes Brett" %>
		
		<br />
		<%=  params[:options].inspect%>
		<% if params[:options] == "wohnungsmarkt" %>
		<%= render "search_form" %>
		<% end %>
	</div>
</div>
