<%= form_for(@dhbw_news) do |f| %>
  <% if @dhbw_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dhbw_news.errors.count, "error") %> prohibited this dhbw_news from being saved:</h2>

      <ul>
      <% @dhbw_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feedId %><br>
    <%= f.text_field :feedId %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :feedDate %><br>
    <%= f.datetime_select :feedDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
