<div class="search-box">

  <div class="row">
    <p></p><br><br>
    <div class="col-sm-4">

      <h3>Kontaktieren Sie uns</h3>

      <hr>

      <address>
        <br>
        Email:
        <a href="mailto:dhbw.mobilesolutions@gmail.com">dhbw.mobilesolutions@gmail.com</a>
        <br>

        Telefon:  0711 / 320 660-42

      </address>
      </div>
      <div class="col-sm-8 contact-form">
        <%= form_for(@contact_form) do |f| %>
          <div class="row">
            <div class="col-xs-6 col-md-6 form-group">
              <%= f.label :name, "Name", class: "control-label" %>
              <%= f.text_field :name, :class=>"form-control" %>
            </div>
            <div class="col-xs-6 col-md-6 form-group">
              <%= f.label :email, "E-Mail", class: "control-label" %>
              <%= f.text_field :email, :class=>"form-control" %>
            </div>
          </div>
            <%= f.label :message, "Nachricht", class: "control-label" %>
            <%= f.text_area :message, :class=>"form-control" %>
          <br />
          <div class="row">
            <div class="col-xs-12 col-md-12 form-group">
              <%= f.submit 'Absenden', :class=> "btn btn-primary pull-right" %>
          </div>
        </div>
        <% end %>
    </div>
</div>
</div>
